(
    palette: Dark((
        name: "encom-dark",
        blue: (
            red: 0.184,
            green: 0.549,
            blue: 0.639,
            alpha: 1.0,
        ),
        red: (
            red: 0.956,
            green: 0.686,
            blue: 0.176,
            alpha: 1.0,
        ),
        green: (
            red: 0.368,
            green: 0.858,
            blue: 0.549,
            alpha: 1.0,
        ),
        yellow: (
            red: 0.956,
            green: 0.686,
            blue: 0.176,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.011,
            green: 0.019,
            blue: 0.016,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.074,
            green: 0.153,
            blue: 0.188,
            alpha: 1.0,
        ),
        gray_3: (
            red: 0.145,
            green: 0.258,
            blue: 0.294,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.011,
            green: 0.019,
            blue: 0.016,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.074,
            green: 0.153,
            blue: 0.188,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.145,
            green: 0.258,
            blue: 0.294,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.203,
            green: 0.325,
            blue: 0.368,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.309,
            green: 0.443,
            blue: 0.482,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.415,
            green: 0.552,
            blue: 0.576,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.521,
            green: 0.658,
            blue: 0.670,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.619,
            green: 0.745,
            blue: 0.752,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.752,
            green: 0.854,
            blue: 0.854,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.878,
            green: 0.937,
            blue: 0.937,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 1.0,
            green: 1.0,
            blue: 0.996,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.368,
            green: 0.858,
            blue: 0.549,
            alpha: 1.0,
        ),
        bright_red: (
            red: 1.0,
            green: 0.709,
            blue: 0.180,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 1.0,
            green: 0.709,
            blue: 0.176,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.607,
            green: 0.556,
            blue: 0.541,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.956,
            green: 0.686,
            blue: 0.176,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 1.0,
            green: 0.933,
            blue: 0.490,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.184,
            green: 0.549,
            blue: 0.639,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.482,
            green: 0.368,
            blue: 0.764,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.956,
            green: 0.360,
            blue: 0.580,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.250,
            green: 0.443,
            blue: 0.768,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.184,
            green: 0.549,
            blue: 0.639,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.956,
            green: 0.686,
            blue: 0.176,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.368,
            green: 0.858,
            blue: 0.549,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.466,
            green: 0.525,
            blue: 0.525,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.956,
            green: 0.686,
            blue: 0.176,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.996,
            green: 0.933,
            blue: 0.533,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.650,
            green: 0.470,
            blue: 0.890,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.968,
            green: 0.447,
            blue: 0.600,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.419,
            green: 0.564,
            blue: 0.803,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (2.0, 2.0, 2.0, 2.0),
        radius_m: (2.0, 2.0, 2.0, 2.0),
        radius_l: (2.0, 2.0, 2.0, 2.0),
        radius_xl: (2.0, 2.0, 2.0, 2.0),
    ),
    neutral_tint: Some((
        red: 0.752,
        green: 0.854,
        blue: 0.854,
    )),
    bg_color: Some((
        red: 0.011,
        green: 0.019,
        blue: 0.016,
        alpha: 1.0,
    )),
    primary_container_bg: Some((
        red: 0.074,
        green: 0.153,
        blue: 0.188,
        alpha: 1.0,
    )),
    secondary_container_bg: None,
    text_tint: Some((
        red: 1.0,
        green: 1.0,
        blue: 0.996,
    )),
    accent: Some((
        red: 0.184,
        green: 0.549,
        blue: 0.639,
    )),
    success: None,
    warning: None,
    destructive: None,
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: Some((
        red: 0.250,
        green: 0.443,
        blue: 0.435,
    )),
)

